/* Admin.css */
.admin-container {
    padding: 20px;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header .btn-group {
    display: flex;
    gap: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    flex: 1 1 calc(50% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50% !important;
}

.chart h3 {
    font-size: 16px;
    margin-bottom: 15px;
}