.logo {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 300px;
    margin-top: -300px;
    margin-left: 550px;
}

.login-container {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.login-form {
    height: 500px;
    width: 1000px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(88, 151, 105, 0.5);

}

/*.image-container {
    
    border-radius: 5%;
    
    
}*/

.img {
    width: 300px;
    height: 450px;
    border-radius: 5%;
    margin-left: 0%;
}



.login {

    margin-top: 120px;
    margin-right: 50px;
}

.mb-3 {
    margin-left: 60px;


}

.Button {
    background-color: rgb(29, 81, 47);
    margin-left: 200px;
}